.container {
  display: flex;
  padding-left: 11vw;
  padding-right: 11vw;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  color: #ffffff;
  background: #d00494;
  overflow-x: hidden;
}

.inner_container {
  display: flex;
  align-items: center;
}

.widget {
  display: flex;
  align-items: center;
  margin-right: 4vw;
  cursor: pointer;
}

.widget_text {
  margin-left: 0.5rem;
}

.icon {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
}

.list_container {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
}
.list_item {
  display: flex;
  padding-left: 2rem;
  align-items: center;
  border-right-width: 1px;
  cursor: pointer;
  height: 100%;
  /* border: 1px white solid; */
}
.list_item:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .container {
    justify-content: center;
  }
  .inner_container {
    width: 100%;
    justify-content: space-evenly;
  }
  .list_container {
    display: none;
  }
  .widget {
    margin-right: 0;
  }
}
