.container {
  padding-left: 11vw;
  padding-right: 11vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.social_media_icons {
  cursor: pointer;
}

.hamburger {
  cursor: pointer;
}

.logo_container {
  display: flex;
}

.logo {
  font-weight: 700;
  font-size: xx-large;
  cursor: pointer;
}

.list_container {
  display: flex;
  height: 100%;
  list-style: none;
}
.list_item {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  border-right-width: 1px;
  font-weight: 600;
  font-size: x-large;
  cursor: pointer;
  /* border: 1px white solid; */
}
.list_item:hover {
  background-color: #d00494;
  color: white;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1400px) {
  .social_media_icons {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    justify-content: center;
  }
  .list_container {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    left: 0;
    margin-left: 11vw;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .hamburger {
    display: block;
    margin-left: 4.5vw;
  }
}

@media screen and (max-width: 534px) {
  .container {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
  }
}

.phone_nav {
  position: absolute;
  z-index: 100;
  top: 9rem;
  width: 70vw;
}

.phone_list_container {
  background-color: #d00494;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
}
.phone_list_item {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-weight: 600;
  font-size: x-large;
  cursor: pointer;
  /* border: 1px white solid; */
}
.phone_list_item:hover {
  background-color: white;
  color: black;
}
