.container {
  padding-left: 11vw;
  padding-right: 11vw;
  display: flex;
  justify-content: space-between;
  background-color: #191919;
  color: lightgrey;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.list {
  display: flex;
}

.list_item {
  cursor: pointer;
  margin-right: 2rem;
  font-weight: 500;
}
.list_item:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  .container {
    justify-content: center;
  }
  .list {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media screen and (max-width: 534px) {
  .container {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
  }
}
